.list-title {
  color: inherit;
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 20px;
  text-align: center;
}

.list-isCompleted {
  width: 10%;
}

.todo-content {
  width: 100%;
}

.edit-content-contanier {
  display: grid;
  grid-template-columns: 1fr 7fr;
  width: 100%;
  .switch-isCompleted {
    width: 100%;
  }
}
